@import 'node_modules/@dabapps/roe/src/less/index.less';

@primary: #5492D8;

.list-style-none {
  padding: 0;
  margin: 0;
  list-style: none;
}

.clickable {
  cursor: pointer;
}

.break-word {
  word-break: break-word;
}

.text-contrast {
  background: inherit;
  background-clip: text;
  color: transparent;
  filter: invert(100%) grayscale(100%) contrast(10000%);
}
